{
  "id" : "{{ keycloak.settings.id.ldap_mapper_email }}",
  "name" : "email",
  "providerId" : "user-attribute-ldap-mapper",
  "providerType" : "org.keycloak.storage.ldap.mappers.LDAPStorageMapper",
  "parentId" : "{{ keycloak.settings.id.user_federation_ldap }}",
  "config" : {
    "ldap.attribute" : [ "mail" ],
    "is.mandatory.in.ldap" : [ "true" ],
    "read.only" : [ "false" ],
    "always.read.value.from.ldap" : [ "false" ],
    "user.model.attribute" : [ "email" ]
  }
}
