{
  "id" : "{{ keycloak.settings.id.realm }}",
  "realm" : "{{ keycloak.settings.id.realm }}",
  "displayName" : "D120 Keycloak",
  "displayNameHtml" : "<div class=\"kc-logo-text\"><span>D120 Keycloak</span></div>",
  "notBefore" : 0,
  "revokeRefreshToken" : false,
  "refreshTokenMaxReuse" : 0,
  "accessTokenLifespan" : 60,
  "accessTokenLifespanForImplicitFlow" : 900,
  "ssoSessionIdleTimeout" : 1800,
  "ssoSessionMaxLifespan" : 36000,
  "offlineSessionIdleTimeout" : 2592000,
  "offlineSessionMaxLifespanEnabled" : false,
  "offlineSessionMaxLifespan" : 5184000,
  "accessCodeLifespan" : 60,
  "accessCodeLifespanUserAction" : 300,
  "accessCodeLifespanLogin" : 1800,
  "actionTokenGeneratedByAdminLifespan" : 43200,
  "actionTokenGeneratedByUserLifespan" : 300,
  "enabled" : true,
  "sslRequired" : "external",
  "registrationAllowed" : false,
  "registrationEmailAsUsername" : false,
  "rememberMe" : false,
  "verifyEmail" : false,
  "loginWithEmailAllowed" : true,
  "duplicateEmailsAllowed" : false,
  "resetPasswordAllowed" : false,
  "editUsernameAllowed" : false,
  "bruteForceProtected" : true,
  "permanentLockout" : false,
  "maxFailureWaitSeconds" : 7200,
  "minimumQuickLoginWaitSeconds" : 900,
  "waitIncrementSeconds" : 3600,
  "quickLoginCheckMilliSeconds" : 1000,
  "maxDeltaTimeSeconds" : 43200,
  "failureFactor" : 30,
  "defaultRoles" : [ "offline_access", "uma_authorization" ],
  "requiredCredentials" : [ "password" ],
  "passwordPolicy" : "length(8) and notUsername(undefined)",
  "otpPolicyType" : "totp",
  "otpPolicyAlgorithm" : "HmacSHA512",
  "otpPolicyInitialCounter" : 0,
  "otpPolicyDigits" : 6,
  "otpPolicyLookAheadWindow" : 1,
  "otpPolicyPeriod" : 30,
  "otpSupportedApplications" : [ "FreeOTP" ],
  "browserSecurityHeaders" : {
    "xContentTypeOptions" : "nosniff",
    "xRobotsTag" : "none",
    "xFrameOptions" : "SAMEORIGIN",
    "xXSSProtection" : "1; mode=block",
    "contentSecurityPolicy" : "frame-src 'self'; frame-ancestors 'self'; object-src 'none';",
    "strictTransportSecurity" : "max-age=31536000; includeSubDomains"
  },
  "smtpServer" : { },
  "loginTheme" : "keycloak",
  "accountTheme" : "keycloak",
  "adminTheme" : "keycloak",
  "emailTheme" : "keycloak",
  "eventsEnabled" : false,
  "eventsListeners" : [ "jboss-logging" ],
  "enabledEventTypes" : [ ],
  "adminEventsEnabled" : false,
  "adminEventsDetailsEnabled" : false,
  "internationalizationEnabled" : true,
  "supportedLocales" : [ "de", "en" ],
  "defaultLocale" : "en",
  "browserFlow" : "browser",
  "registrationFlow" : "registration",
  "directGrantFlow" : "direct grant",
  "resetCredentialsFlow" : "reset credentials",
  "clientAuthenticationFlow" : "clients",
  "dockerAuthenticationFlow" : "docker auth",
  "attributes" : {
    "_browser_header.xXSSProtection" : "1; mode=block",
    "_browser_header.strictTransportSecurity" : "max-age=31536000; includeSubDomains",
    "_browser_header.xFrameOptions" : "SAMEORIGIN",
    "permanentLockout" : "false",
    "quickLoginCheckMilliSeconds" : "1000",
    "displayName" : "D120 Keycloak",
    "_browser_header.xRobotsTag" : "none",
    "maxFailureWaitSeconds" : "7200",
    "displayNameHtml" : "<div class=\"kc-logo-text\"><span>D120 Keycloak</span></div>",
    "minimumQuickLoginWaitSeconds" : "900",
    "failureFactor" : "30",
    "actionTokenGeneratedByUserLifespan" : "300",
    "maxDeltaTimeSeconds" : "43200",
    "_browser_header.xContentTypeOptions" : "nosniff",
    "actionTokenGeneratedByAdminLifespan" : "43200",
    "offlineSessionMaxLifespan" : "5184000",
    "bruteForceProtected" : "true",
    "_browser_header.contentSecurityPolicy" : "frame-src 'self'; frame-ancestors 'self'; object-src 'none';",
    "offlineSessionMaxLifespanEnabled" : "false",
    "waitIncrementSeconds" : "3600"
  },
  "userManagedAccessAllowed" : false
}
