{
  "id" : "{{ keycloak.settings.id.user_federation_ldap }}",
  "name" : "ldap",
  "providerId" : "ldap",
  "providerType" : "org.keycloak.storage.UserStorageProvider",
  "parentId" : "{{ keycloak.settings.id.realm }}",
  "config" : {
    "fullSyncPeriod" : [ "604800" ],
    "pagination" : [ "true" ],
    "usersDn" : [ "{{ ldap.user_search_base }}" ],
    "connectionPooling" : [ "true" ],
    "cachePolicy" : [ "DEFAULT" ],
    "useKerberosForPasswordAuthentication" : [ "false" ],
    "importEnabled" : [ "true" ],
    "enabled" : [ "true" ],
    "usernameLDAPAttribute" : [ "uid" ],
    "changedSyncPeriod" : [ "86400" ],
    "bindCredential" : [ "{{ keycloak.ldap.bind_password }}" ],
    "bindDn" : [ "{{ keycloak.ldap.bind_dn }}" ],
    "vendor" : [ "other" ],
    "uuidLDAPAttribute" : [ "entryUUID" ],
    "allowKerberosAuthentication" : [ "false" ],
    "connectionUrl" : [ "ldaps://{{ ldap.fqdn }}" ],
    "syncRegistrations" : [ "true" ],
    "authType" : [ "simple" ],
    "debug" : [ "false" ],
    "searchScope" : [ "1" ],
    "useTruststoreSpi" : [ "ldapsOnly" ],
    "priority" : [ "0" ],
    "userObjectClasses" : [ "d120person" ],
    "rdnLDAPAttribute" : [ "uid" ],
    "editMode" : [ "WRITABLE" ],
    "validatePasswordPolicy" : [ "true" ],
    "batchSizeForSync" : [ "1000" ]
  }
}
