<?xml version="1.0" ?>

<!-- Managed by Ansible. DO NOT CHANGE! -->

<module xmlns="urn:jboss:module:1.3" name="org.postgresql">
    <resources>
        <resource-root path="{{ keycloak.settings.db_driver_filename }}" />
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="javax.transaction.api" />
    </dependencies>
</module>
